<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/header'); %>
        <%- include('../partials/profile'); %>
        <%- include('../partials/about'); %>
        <%- include('../partials/skill'); %>
        <%- include('../partials/experience'); %>
        <%- include('../partials/formation'); %>
        <%- include('../partials/contact'); %>
    </body>
    <footer>
        <%- include('../partials/footer'); %>
        <%- include('../partials/scripts'); %>
    </footer>
</html>